<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/favicon.png">
  <link rel="shortcut icon" href="/assets/favicon.png">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/atom.xml">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8ET1Q8YNRG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-8ET1Q8YNRG');
  </script>

  <!-- Dark mode switcher -->
  <script>
    const initialTheme = localStorage.getItem('data-theme');
    const rootDataset = document.documentElement.dataset;
    rootDataset.theme = initialTheme === 'dark' || initialTheme === 'light' ? initialTheme : {{ site.data-theme }}

    function toggleTheme() {
      const inDarkMode = (rootDataset.theme === 'dark');
      reloadTheme(!inDarkMode);
    }

    function reloadTheme(darkMode) {
      const mode = darkMode ? 'dark' : 'light';
      rootDataset.theme = mode;
      localStorage.setItem('data-theme', mode);

      const utterancesFrame = document.getElementsByClassName('utterances-frame')[0];
      if (utterancesFrame) {
        utterancesFrame.contentWindow.postMessage({
          type: 'set-theme',
          theme: 'github-' + mode,
        }, 'https://utteranc.es');
      }
    }

    reloadTheme(rootDataset.theme === 'dark');
  </script>
</head>
