.recent-blogs {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, minmax(10rem, 20rem));
  gap: 1.5rem;
}

@media only screen and (max-width: 42rem) {
  .recent-blogs {
    grid-template-columns: repeat(2, minmax(10rem, 20rem));
  }
}

@media only screen and (max-width: 25rem) {
  .recent-blogs {
    grid-template-columns: repeat(1, minmax(10rem, 20rem));
  }
}

.blog-preview {
  img {
    margin: 0;
    border: 2px solid var(--background-alt-color);
  }
  h3 {
    margin: 0.25rem;
    padding-top: 0;
    font-size: 0.85rem;
  }

  time {
    margin: 0.25rem;
    font-size: 0.75rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  .header-link {
    font-size: 60%;
    margin-left: 0.5rem;
  }
}