// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--background-alt-color);
  background-color: var(--background-color);
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-alt1-color);

  a {
    color: var(--text-alt1-color);
  }

  small {
    font-size: 75%;
    font-weight: 400;
    color: var(--text-alt2-color);
    letter-spacing: 0;
  }
}
