[data-theme='light'] {
  .highlight {
    color: #383838;

    .c1 {
      color: #248700;
    }

    .k, .kt {
      color: #0f54d6;
    }

    .nc {
      color: #6b2fba;
      font-weight: bold;
    }

    .nf {
      color: #00855f;
    }

    .s {
      color: #8c6c41;
    }
  }
}

[data-theme='dark'] {
  .highlight {
    color: #bdbdbd;

    .c1 {
      color: #85c46c;
    }

    .k, .kt {
      color: #6c95eb;
    }

    .nc {
      color: #c191ff;
      font-weight: bold;
    }

    .nf {
      color: #39cc8f;
    }

    .s {
      color: #c9a26d;
    }
  }
}